.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  font-size: var(--h1-font-size);
  text-align: center;
  padding-bottom: 3rem;
}
.main h3 {
  width: 100%;
  font-size: var(--h3-font-size);
  text-align: left;
  padding: 2rem 1rem;
}

/* ===Searchbar ==== */
.search__bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* border: .5px solid var(--text-color-light); */
  border-radius: 1rem;
  opacity: .6;
  cursor: pointer;
  margin: 1rem;
}
.search__bar input {
  height: 1.8rem;
  width: 6rem;
  background-color: transparent;
  border: none;
  color: var(--text-color-light);
}
.search__bar button {
  border: none;
  background-color: transparent;
}
/* ===== coins container =====  */
.coins__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--container-color);
}

/* ===== Coin ====  */
.coin {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.coin :nth-child(2) {
  width: 40%;
  padding-left: 1rem;
}
.coin :nth-child(3) {
  width: 30%;
}


.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

